.newProject{
    width: 100%;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.title {
    font-weight: bold;
}
.divider {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #d1d1d1;
}

.main {
    margin-top: 60px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: -100px;
}

.content {
    padding-left: 100px;
    position: relative;
    width: 50%;
    // min-height: 150px;
    box-sizing: border-box;
}

.subTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.close {
    color: black;
    text-decoration: none;
    font-size: 20px!important;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.textInput {
    width: 100%;
    border-radius: 30px;
    border: 1px solid;
    padding: 12px 15px 12px 15px;
    font-size: 18px;
}

.button {
    border: 6px solid #dae2f2!important;
    background-color: var(--primary);
    border-radius: 50px!important;
    font-family: "Figtree 600", sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s ease-in;
    color: #fff;
    cursor: pointer;
    background-color: #1861f2;
    padding: 17px 20px!important;
    text-decoration: none;
    display: inline-block;
  }
  .button:hover{
    color:white;
    background: #0b47c0;
  }

.cancel_button {
    border: 6px solid #dae2f2!important;
    background-color: var(--primary);
    border-radius: 50px!important;
    font-family: "Figtree 600", sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s ease-in;
    color: #fff;
    cursor: pointer;
    background-color: #717377;
    padding: 17px 20px!important;
    text-decoration: none;
display: inline-block;
}

.cancel_button:hover {
    color:white;
    background: #57595e;
}

@media (max-width: 950px) {
    .content {
        width: 80%;
        margin:auto;
    }
}

@media (max-width: 627px) {
    .content {
        width: 92%;
        margin:auto;
    }
}